NEXT_PUBLIC_SUPABASE_URL=https://xofzupxkdwwrfejumtdk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhvZnp1cHhrZHd3cmZlanVtdGRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM4ODA5MDksImV4cCI6MjA1OTQ1NjkwOX0.pACe-FqyLFJTCa8MT760p6va8ao5hnN4v5x8QWVaw0s 